/* Global Styles */

body {
    font-family: Verdana, Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    font-size: .90em;
    background-color: #1c3972;
}

body a{
    text-decoration: none;
    color: inherit;
}
#header {
    position: absolute;
    height: 150px;
    left: 15%;
    width: 70%;
    top: 0;
    margin-bottom: 5px;
    padding: 0;
    background-color: #1c3972;
}

#header h1{
    font-size: 70px;
    font-family: 'Signika', sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    color: #F7B733;
    }

/* Navigation Menu */

#menu {
    position: absolute;
    top: 150px;
    left: 25%;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
    background-color: #F7B733;
}

/* Columns */
#column1{
    position: absolute;
    left: 0%;
    width: 12.5%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#column2{
    position: absolute;
    left: 12.5%;
    top: 250px;
    width: 50%;
    padding-bottom: 10px;
    background-color: #1c3972;
    height: 100%;
}

#column2 img{
    float: left;
    width: 350px;
    height: 350px;
    border: 1px black;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: -6px;
    padding-bottom: -10px;
    border: black solid 1px;
}
#column2 p{
    padding: 5px;
    color: white;
    font-size: 1em;
}

#column2 h1{
    font-family: 'Signika', sans-serif;
    padding: 5px;
    color: white;
    font-size: 1.4em;
}

#column3 {
    position: absolute;
    left: 62.5%;
    top: 250px;
    width: 25%;
    background-color: #1c3972;
    height: 100%;
}

#signupbutton{
    display: block;
    font-size: 20px;
    font-style: italic;
    font-weight: bolder;
    color: #0c1e36;
    background-color: #F7B733;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
}

#announcementbox h1{
    font-family: 'Signika', sans-serif;
    text-decoration: underline;
    font-style: italic;
    color: white;
}

#announcementbox p, li{
    color: white;
    font-size: 1em;
}
#column4 {
    position: absolute;
    left: 87.5%;
    width: 12.5%;
    margin: 0px;
    padding: 0px;
    height: 100%;
}