/* Global Styles */
body {
    font-family: Verdana, Arial, sans-serif;
    font-size: .90em;
    background-color: #1c3972;
    padding: 0;
    margin: 0;
    height: 100%;
}

body a{
    text-decoration: none;
    color: inherit;
}

/* Header and Footer */

#header {
    float: left;
    min-width: 100%;
    height: 70px;
    padding: 0;
    background-color: black;
}

#header h1{
    margin: 0;
    padding-top: 10px;
    font-size: 2.8em;
    font-family: 'Signika', sans-serif;
    font-style: italic;
    font-weight: bolder;
    text-align: left;
    color: #F7B733;
}

#footer {
    position: fixed;
    bottom: 0;
    font-size: 12px;
    background-color: darkgray;
    clear: both;
    margin-bottom: 0;
    padding-bottom: 0;
    min-width: 100%;
    height: 20px;
}

#footer p, a{
    text-align: center;
    margin: 0;
    padding: 0;
}

#footer a{
    text-decoration: underline;
}

/* Content Containers */
#wrapper{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    }

#column1{
    float: left;
    width: 60%;
    padding-bottom: 10px;
    padding-left: 8px;
    background-color: #1c3972;
    height: 100%;
}

#column1 img{
    height: 400px;
    width: 550px;
    float: left;
    border: solid black 2px;
}

#column1 p{
    padding: 5px;
    color: white;
    font-size: 1em;
}

#column1 a{
    text-decoration: underline;
}

#column1 h1{
    font-family: 'Signika', sans-serif;
    padding: 5px;
    color: white;
    font-size: 1.6em;
}

#column1 form{
    color: white;
    margin-bottom: 15px;
    margin-left: 0;
}

#column1 table{
    color: white;
}

#column2 {
    padding-left: 20px;
    float: right;
    width: 35%;
    background-color: #1c3972;
    height: 100%;
}

#column2 img{
    height: 200px;
    width: 80%;
    margin: 8px 8px 12px 8px;
    border: solid black 2px;
    z-index: 3;
}

#column2 a{
    text-decoration: underline;
}

#column2 h1{
    font-family: 'Signika', sans-serif;
    font-style: italic;
    color: white;
    font-size: 1.6em;
}

#column2 p, li{
    color: white;
    font-size: 1em;
}

/* Navigation Menu */

#menu {
    padding-top: 5px;
    position: absolute;
    top: -5px;
    left: 805px;
    height: 50px;
    width: 460px;
    border: 2px black;
}

#menu ul {
    list-style-type: none;
    padding: 0;
    margin: 10px;
}

#menu li{
    display: inline;
    margin: 8px;
}

#menu a {
    display: inline-block;
    color: white;
    text-decoration: underline;
    text-align: center;
    font-family: 'Baloo Bhaina', cursive;
    font-size: 1.4em;
    padding: 7px;
}

#menu li a:hover {
    background-color: #F7B733;
    border-radius: 12px;
}

/* Misc. Objects and Divs */

/* Signup Call to Action */

#signup {
    position: absolute;
    left: 570px;
    top: 10px;
    margin: 0 auto;
    display: block;
    font-size: 20px;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
    color: black;
    background-color: #F7B733;
    width: 150px;
    padding: 10px;
    border-radius: 25px;
}

/* Playing Guidelines */
#playguide{
    position: absolute;
    top: 123px;
    left: 30%;
    width: 28%;
}

#playguide h1{
    margin-bottom: 20px;
}

#playguide img{
    height: 300px;
    width: 355px;
    border: 2px black solid;
}

/* Background Watermark */

#watermark {
    pointer-events: none;
    color: #F7B733;
    position: fixed;
    left: 20%;
    top: 40%;
    margin: 0 auto;
    font-size: 6em;
    font-family: 'Signika', sans-serif;
    opacity: 0.1;
}